<div class="container">
    <form action="./contact/contact-process.php" method="post" id="formsearch-flatcourse">
        <ul class='fields'>
            <li>
                <div class = 'select-container'>
                    <select>
                        <option value="">ALL CATEGORIES</option>
                        <option value="">BUSSINESS</option>
                        <option value="">ENGINEERING</option>
                        <option value="">LIFE SCIENCES</option>
                        <option value="">MANAGENMENT</option>
                    </select>
                </div>
            </li>
            <li class = 'li2'>
                <p>
                    <input type="text" id="keyword" name="keyword" value="" required="required"
                        placeholder="COURE KEYWORD">
                </p>
            </li>

            <div class="line"></div>

            <li class = 'li4'>
                <div class='button-case'>
                    <div class = 'button-text'>SEARCH COURSE</div>
                </div>
            </li>
        </ul>
    </form>
</div><!-- container -->