.container {
    width: 75%;
    padding: 35px;
    background-color: white;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);

    .fields {
        display: flex;
        flex-flow: nowrap row;
        align-items: center;
        justify-content: space-between;

        // background-color: blue;

        * {
            // flex-grow: 1;
            height: 50px;
        }

        .li2 {
            margin-left: 40px;
        }

        .li4 {
            position: relative;
            z-index: 200;
        }

        .line {
            margin: 0 60px;
        }

        .select-container {
            position: relative;
        }

        select::-ms-expand {
            display: none;
        }

        select {
            appearance: none;
        }

        .select-container:after {
            content: '>';
            font: 20px "Consolas";
            font-weight: bold;
            color: #333;
            // -webkit-transform: rotate(90deg);
            // -moz-transform: rotate(90deg);
            // -ms-transform: rotate(90deg);
            top: 50%;
            transform: translateY(-50%) rotate(90deg);
            right: 22px;
            
            padding: 0 0 2px;
            
            position: absolute;
            pointer-events: none;
          }

        .select-container, select, option, p, input {
            width:340px;
            color: #22272b;
            padding: 0px;
        }

        select, input {
            border: 1px solid rgba(grey, 0.3);
            border-radius: 1px;
            text-indent: 40px;

            &:focus {
                border: 1px solid #ffbf43;
            }

        }

        select {
            margin-right: 50px;
        }

        input {
            margin-right: 40px;
        }

        .line {
            width: 1px;
            height: 50px;
            border-left: 1px solid rgba(grey, 0.3);
        }

        .button-case {
            border: 1.8px solid #ffbf43;
            background-color: #ffbf43;
            width: 180px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 200 !important;

            transition: background-color 0.2s ease-out;

            &::after {
                content: "";
                display: block !important;
                width: 180px;
                height: 50px;
                border: 1px solid #ffbf43;
                position: absolute;
                transform: translate(10px, 10px);
                z-index: -1 !important;
            }

            &:hover {
                cursor: pointer;
                background-color: white;

                .button-text {
                    color: black;
                }

            }

            .button-text {
                color: white;
                font-family:'Roboto';
                font-weight: 700;
                font-size: 14px;
                // background-color: blue;
                flex-grow: 0;
                height: auto;
            }

        }

    }

}







// .position_form .f-select #formsearch-flatcourse {
//     position: absolute;
//     width: 100%;
//     top: -212px;
// }

// .flat-iconbox .title-section {
//     margin-bottom: 53px;
// }

// .iconbox.style-title .box-header .box-title {
//     text-transform: none;
// }

// .wrap-price-post .title-section {
//     margin-bottom: 46px;
// }

// /* Scroll */
// .wrap-times.content {
//     overflow: auto;
//     position: relative;
//     max-width: 511px;
//     height: 263px;
//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     box-sizing: border-box;
// }

// .lates-new h3.entry-title {
//     text-transform: none!important;
//     margin-left: -1px;
// }

// .lates-new .entry .entry-post .entry-author span a,
// .lates-new .entry .entry-post .entry-author span{
//     font-size: 14px!important;
// }

// /* Flat-contact */
// .flat-contact .title-section{
//     margin-bottom: 20px;
// }

// .flat-contact .subscribe-contact .title-section{
//     margin-bottom: 50px;
// }

// .flat-contact .right-contact {
//     text-align: right;
//     padding-top: 7px;
//     margin-left: -5px;
// }

// .flat-contact .subscribe-contact {
//     background-color: #fff;
//     box-shadow: 0px 19px 35px 0px rgba(0, 0, 0, 0.15);
// }

// .flat-contact .formsearch {
//     text-align: center;
//     padding: 0;
//     box-shadow: none;
// }

// .flat-contact .formsearch .subscribe-btn {
//     float: left;
//     margin-left: 40px;
// }

// .flat-contact .formsearch .subscribe-email {
//     float: left;
//     width: 330px;
//     margin: 10px 0px 0px 227px;
// }

// .flat-contact .formsearch #emailsubscribe {
//     font-size: 16px;
// }