<div class="offering-container">

    <div class="container title-container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section">
                    <h1 class="title">OFFERING THE BEST <br> IN EDUCATION TO THE WORLD</h1>
                    <div class="sub-title">
                        Sign-up today to join over 6 million learners already on ALISON
                    </div>
                </div>
            </div><!-- col-md-12 -->
        </div><!-- row -->
    </div><!-- container -->

    <div class="container icon-boxes">
        <div class="row">
            <div class="col-md-3 col-sm-6 boxBoi">
                <div class="iconbox icon-red style-title">
                    <div class="box-header">
                        <div class="box-icon">
                            <img src="../../../assets/images/iconbox/1.png" alt="image">
                            <!-- images/iconbox/1.png -->
                        </div>
                        <div class="box-title">
                            <a href="#" title="">Best Learning Communities</a>
                        </div>
                    </div>
                    <div class="box-content">
                        <p>The idea is to keep the discussions<br>going after class ends.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 boxBoi">
                <div class="iconbox icon-green style-title">
                    <div class="box-header">
                        <div class="box-icon">
                            <img src="../../../assets/images/iconbox/2.png" alt="image">
                        </div>
                        <div class="box-title">
                            <a href="#" title="">Online Teaching Jobs</a>
                        </div>
                    </div>
                    <div class="box-content">
                        <p>The idea is to keep the discussions<br>going after class ends.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 boxBoi">
                <div class="iconbox icon-blue style-title">
                    <div class="box-header">
                        <div class="box-icon">
                            <img src="../../../assets/images/iconbox/3.png" alt="image">
                        </div>
                        <div class="box-title">
                            <a href="#" title="">Learn Courses Online</a>
                        </div>
                    </div>
                    <div class="box-content">
                        <p>The idea is to keep the discussions<br>going after class ends.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 boxBoi">
                <div class="iconbox icon-cyan style-title">
                    <div class="box-header">
                        <div class="box-icon">
                            <img src="../../../assets/images/iconbox/4.png" alt="image">
                        </div>
                        <div class="box-title">
                            <a href="#" title="">Book Library & Store</a>
                        </div>
                    </div>
                    <div class="box-content">
                        <p>The idea is to keep the discussions<br>going after class ends.</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- container -->
</div>